
@{
    ViewBag.Title = "UpdateArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br /><br /><br /><br />



<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"> Update Article</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="POST" action="#####">


                        <div class="form-group">
                            <label class="col-md-4 control-label">Title</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" name="title" value="">

                            </div>
                        </div>




                        <div class="form-group">
                            <label class="col-md-4 control-label">Article</label>

                            <div class="col-md-6">
                                <textarea type="text" class="form-control" rows="3" cols="3" name="article"></textarea>

                            </div>
                        </div>






                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-user"></i>Update This Article
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br /><br /><br />


